@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
#create-lobby {
  font-family: "Yantramanav", sans-serif;
}
#create-lobby .modal-content {
  background-color: #a5f5ff;
}
#create-lobby .row {
  margin: 20px auto;
}
#create-lobby h4 {
  position: relative;
  z-index: 1;
  top: -20px;
  font-size: 16px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
#create-lobby .banner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -30px;
  height: 90px;
  z-index: 0;
}
#create-lobby .first-selection-container,
#create-lobby .second-selection-container {
  display: flex;
}
#create-lobby .first-selection-container > div:first-child,
#create-lobby .second-selection-container > div:first-child {
  padding: 0;
  padding-right: 5px;
}
#create-lobby .first-selection-container > div:last-child,
#create-lobby .second-selection-container > div:last-child {
  padding: 0;
  padding-left: 5px;
}
#create-lobby input[type=radio], #create-lobby input[type=checkbox] {
  margin-right: 5px;
}
#create-lobby input, #create-lobby select {
  border: none;
  background-color: #e2fcff;
}
#create-lobby .buttons-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-top: 1px solid #f2f2f2;
}
#create-lobby .buttons-container input[type=button] {
  margin: 0 10px;
  font-family: "Lato", sans-serif;
  width: fit-content;
  border: none;
  border-radius: 8px;
  padding: 5px 20px;
  font-size: 19px;
}
#create-lobby .buttons-container input[type=button]:first-child {
  background-color: #029b02;
  color: white;
}
#create-lobby .buttons-container input[type=button]:last-child {
  background-color: #e10202;
  color: white;
}

#profile .modal-content {
  background-color: #caf9ff;
}
#profile .row {
  margin: 20px auto;
}
#profile .close-button {
  position: absolute;
  bottom: 10px;
}
#profile h4 {
  position: relative;
  z-index: 1;
  top: -30px;
  font-size: 30px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
#profile .profil-container {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
}
#profile .profil-container .profile-info .top-profile-info {
  padding: 20px;
  position: relative;
}
#profile .profil-container .profile-info .top-profile-info > img:not(.level) {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(128, 128, 128, 0.179);
  border-radius: 100%;
}
#profile .profil-container .profile-info .top-profile-info .level {
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 30px;
}
#profile .profil-container .profile-info .top-profile-info span {
  position: absolute;
  left: 37px;
  bottom: 27px;
  font-family: "Yantramanav", sans-serif;
}
#profile .profil-container .profile-info .top-profile-info .profile-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(3, 124, 172, 0.3);
  border-radius: 9px;
}
#profile .profil-container .profile-info .top-profile-info .profile-buttons button {
  background-color: transparent;
  border: none;
  margin: 5px 0;
}
#profile .profil-container .profile-info .top-profile-info .profile-buttons button img {
  height: 20px;
  width: 20px;
}
#profile .profil-container .profile-info .bottom-profile-info {
  margin: auto;
  margin-top: 20px;
  background-color: rgba(221, 221, 221, 0.459);
  height: 25px;
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.238);
  border-radius: 8px;
  width: 100px;
  display: block;
}
#profile .profil-container .profile-info .bottom-profile-info .puan {
  position: absolute;
  height: 44px;
  width: 44px;
  top: -10px;
  left: -10px;
}
#profile .profil-container .profile-info .bottom-profile-info p {
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  line-height: 25px;
  margin: 0 40px;
}
#profile .profil-container .profile-stats table tr td:first-child {
  font-family: "Yantramanav", sans-serif;
  font-size: 23px;
  white-space: nowrap;
  padding-right: 50px;
}
#profile .profil-container .profile-stats table tr td:first-child img {
  margin-right: 10px;
  height: 30px;
}
#profile .profil-container .profile-stats table tr td:last-child {
  font-family: "Yantramanav", sans-serif;
  font-size: 19px;
  text-align: center;
  width: 160px;
}
#profile .profil-container .profile-stats table tr td:last-child span {
  display: block;
  background-color: rgba(133, 133, 133, 0.41);
  border-radius: 8px;
  width: 100%;
}
#profile .banner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -30px;
  height: 90px;
  z-index: 0;
}

#radio .radio-image {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -100px;
  height: 200px;
}
#radio .radio-content {
  margin-top: 110px;
}
#radio .radio-content p {
  text-align: center;
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
}
#radio .radio-content .music-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
#radio .radio-content .music-list > div {
  white-space: nowrap;
  display: block;
  margin: 10px auto;
  background-color: rgba(174, 211, 244, 0.289);
  border-radius: 8px;
  padding: 4px 10px;
  cursor: pointer;
}
#radio .button-menu {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
#radio .button-menu button {
  margin: 0 10px;
  font-family: "Lato", sans-serif;
  width: fit-content;
  border: none;
  border-radius: 8px;
  padding: 5px 40px;
  font-size: 19px;
  background-color: red;
  color: white;
}

#chip .modal-body {
  background-image: url("../images/coins_explosion1.png");
  background-size: cover;
  background-color: #ffb700;
  border-radius: 8px;
}
#chip .chip-shop-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 8px;
}
#chip .chip-shop-content table {
  width: 100%;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 23px;
}
#chip .chip-shop-content table thead {
  color: #ffc374;
  font-family: "Yantramanav", sans-serif;
}
#chip .chip-shop-content table thead td:last-child p {
  float: right;
}
#chip .chip-shop-content table tbody tr td:first-child img {
  height: 40px;
  margin-right: 10px;
}
#chip .chip-shop-content table tbody tr .buy-button {
  float: right;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(to top, gold, orange);
}

#davet .modal-content {
  background-image: linear-gradient(to bottom, white, #e0e0e0);
}
#davet h4 {
  position: relative;
  z-index: 1;
  top: -45px;
  font-size: 25px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
#davet .banner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -50px;
  height: 90px;
  z-index: 0;
}
#davet .invite-content {
  display: flex;
  flex-direction: row;
  padding: 40px 10px;
}
#davet .invite-content .start-game-text {
  width: 100%;
  position: relative;
}
#davet .invite-content .start-game-text p {
  text-align: center;
  margin-top: 90px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
#davet .invite-content .start-game-text small {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 90px;
  font-family: "Lato", sans-serif;
  color: gray;
  font-size: 17px;
}
#davet .invite-content .start-game-text .button-menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}
#davet .invite-content .start-game-text .button-menu button {
  border: none;
  background-color: transparent;
}
#davet .invite-content .start-game-text .button-menu button img {
  height: 50px;
  border-radius: 12px;
}
#davet .invite-content .mobile-text {
  display: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  top: 50px;
}
#davet .invite-content .button-menu-mobile {
  position: absolute;
  bottom: 10px;
  display: none;
  justify-content: center;
  width: 100%;
  left: 0;
}
#davet .invite-content .button-menu-mobile button {
  border: none;
  background-color: transparent;
}
#davet .invite-content .button-menu-mobile button img {
  height: 25px;
  border-radius: 12px;
}
#davet .invite-content .invite-menu {
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  padding: 5px 0 0 0;
  border: 1px solid rgba(128, 128, 128, 0.364);
  border-radius: 8px;
  background-color: lightgray;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.149);
}
#davet .invite-content .invite-menu .user-invite {
  margin-bottom: 5px;
  display: block;
  background-color: #f8f8f8;
  padding: 5px;
}
#davet .invite-content .invite-menu .user-invite img:first-child {
  height: 50px;
  width: 50px;
}
#davet .invite-content .invite-menu .user-invite img:last-child {
  float: right;
  margin-top: 13px;
  margin-right: 10px;
}

.modal-backdrop {
  height: 100% !important;
  width: 100% !important;
}

.modal {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  background-image: url("../images/okey-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.max-width-1920 {
  max-width: 1920px;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -10;
  background-color: rgba(3, 81, 184, 0.459);
}

.container-fluid {
  margin-top: 0;
  height: calc(100vh * (1 / 0.8));
}

.mobile-form-container {
  display: none;
}
.mobile-form-container .login-container {
  border-right: 0 !important;
  display: none;
}
.mobile-form-container .form-container {
  height: 90%;
}
.mobile-form-container .form-container .forgot-password {
  margin-top: 10px;
}
.mobile-form-container .form-container h1 {
  font-size: 50px;
  margin-bottom: 40px;
}
.mobile-form-container .form-container p {
  text-align: center;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.mobile-form-container .form-container p a {
  margin: 0;
}
.mobile-form-container .form-container form input, .mobile-form-container .form-container form .oda-sec {
  width: 80%;
}

.form-container {
  background-color: white;
  border-radius: 30px;
}
.form-container .tabs {
  height: 50px;
  margin-bottom: 10px;
}
.form-container .tabs > div {
  padding: 0;
}
.form-container .tabs a {
  background-color: #0077ff;
  display: block;
  text-align: center;
  line-height: 50px;
  color: white;
  text-decoration: none;
}
.form-container .tabs a.show-register-container {
  border-radius: 30px 0 0 0;
  background-color: white;
  color: black;
}
.form-container .tabs a.show-login-container {
  border-radius: 0 30px 0 0;
}
.form-container .button-menu {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 4px solid rgba(224, 224, 224, 0.445);
}
.form-container .button-menu button {
  background-color: transparent;
  border: none;
  margin: 0 30px;
  font-family: "Lato", sans-serif;
}
.form-container .login-container {
  padding-top: 30px;
  border-right: 4px solid rgba(224, 224, 224, 0.445);
}
.form-container .register-container {
  padding-top: 30px;
}
.form-container form h1, .form-container form > a {
  text-align: center;
  width: 100%;
  display: block;
}
.form-container form h1 {
  font-family: "Roboto Condensed", sans-serif;
}
.form-container form a {
  cursor: pointer;
  margin-top: 50px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #016dfa;
}
.form-container form input, .form-container form .oda-sec {
  display: block;
  margin: 20px auto;
  width: 70%;
  border-radius: 6px;
  padding: 15px 20px;
  border: none;
  background-color: #f3f3f3;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}
.form-container form input[type=submit], .form-container form .oda-sec[type=submit] {
  background-color: #4CAF50;
  color: white;
}
.form-container form input[type=submit]:hover, .form-container form .oda-sec[type=submit]:hover {
  background-color: #257c28;
}
.form-container form .oda-sec {
  background-color: #0099ff;
  color: white;
}

@media only screen and (max-width: 1199px) {
  .container-fluid {
    height: 100vh;
  }

  .desktop-form-container {
    display: none;
  }

  .mobile-form-container {
    display: block;
  }

  .button-menu-container {
    margin-bottom: -50px;
  }
  .button-menu-container .button-menu {
    justify-content: space-around;
  }
  .button-menu-container .button-menu button {
    margin: 0 5px;
    font-size: 11px !important;
  }
}
.oda-container {
  overflow-y: auto;
  height: 580px;
  display: none;
  background-color: rgba(9, 72, 155, 0.527);
  border: 3px solid black;
  padding: 0 4px;
  width: 100%;
}
.oda-container .oda-sec-container {
  border-collapse: separate;
  border-spacing: 0 6px;
  width: 100%;
  display: table;
}
.oda-container .oda-sec-container .oda {
  display: table-row;
  background-image: linear-gradient(to bottom, #cacaca 50%, #dfdfdf 50%);
  margin: 3px 10px;
  width: 100%;
}
.oda-container .oda-sec-container .oda.oda-title {
  background-image: url("../images/oda-title.png");
  text-transform: uppercase;
}
.oda-container .oda-sec-container .oda > * {
  display: table-cell;
  padding: 20px 5px;
}
.oda-container .oda-sec-container .oda > *:first-child {
  border-radius: 7px 0 0 7px;
}
.oda-container .oda-sec-container .oda > *:last-child {
  border-radius: 0 7px 7px 0;
}
.oda-container .oda-sec-container .oda h3 {
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  margin-bottom: 0;
}
.oda-container .oda-sec-container .oda p {
  font-size: 17px;
  margin-bottom: 0;
  font-family: "Yantramanav", sans-serif;
}
.oda-container .oda-sec-container .oda p img {
  height: 30px;
  margin-left: 10px;
}

@media only screen and (max-width: 482px) {
  .oda h3, .oda-title h3 {
    font-size: 17px !important;
  }
  .oda p, .oda-title p {
    font-size: 14px !important;
  }
  .oda p img, .oda-title p img {
    margin-left: 0 !important;
  }
}
.oda-modal-button-menu {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.oda-modal-button-menu .oda-sec-confirm-button,
.oda-modal-button-menu .oda-sec-close-button {
  margin: 0 10px;
  font-family: "Lato", sans-serif;
  width: fit-content;
  border: none;
  border-radius: 8px;
  padding: 5px 20px;
  font-size: 19px;
}
.oda-modal-button-menu .oda-sec-confirm-button {
  background-color: #007efb;
  color: white;
}
.oda-modal-button-menu .oda-sec-close-button {
  background-color: red;
  color: white;
}

.oda-container {
  display: block;
}

/*# sourceMappingURL=login.css.map */
