@import 'fonts.scss';
@import 'mixins.scss';
@import 'modal.scss';

//General
body {
    margin:0;
    padding:0;
    overflow-x: hidden !important;
    background-image: url("../images/okey-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.max-width-1920 {
    max-width: 1920px;
}

.background {
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:-10;
    background-color: rgba(3, 81, 184, 0.459);
}

.container-fluid {
    margin-top:0;
    height:calc(100vh * (1 / 0.8));
}

//Login
.mobile-form-container {
    display: none;

    .login-container {
        border-right: 0 !important;
        display: none;
    }

    .form-container {
        height:90%;

        .forgot-password {
            margin-top:10px;
        }

        h1 {
            font-size:50px;
            margin-bottom:40px;
        }

        p {
            text-align: center;
            font-size:20px;
            font-family: $l;
            font-size:20px;

            a {
                margin:0;
            }
        }

        form {
            input, .oda-sec {
                width:80%;
            }
        }
    }
}

.form-container {
    background-color: white;
    border-radius: 30px;

    .tabs {
        height:50px;
        margin-bottom:10px;

        > div {
            padding:0;
        }
        
        a {
            background-color: rgb(0, 119, 255);
            display: block;
            text-align: center;
            line-height: 50px;
            color:white;
            text-decoration: none;

            &.show-register-container {
                border-radius: 30px 0 0 0;
                background-color: rgb(255, 255, 255);
                color:black;
            }
            &.show-login-container {
                border-radius: 0 30px 0 0;
            }
        }
    }

    .button-menu {
        display: flex;
        justify-content: center;
        padding-bottom:20px;
        padding-top:20px;
        border-bottom: 4px solid rgba(224, 224, 224, 0.445);

        button {
            background-color: transparent;
            border:none;
            margin:0 30px;
            font-family: $l;
        }
    }

    .login-container {
        padding-top:30px;
        border-right:4px solid rgba(224, 224, 224, 0.445);
    }

    .register-container {
        padding-top:30px;
    }

    form {
        h1, > a {
            text-align: center;
            width: 100%;
            display: block;
        }

        h1 {
            font-family: $rc;
        }

        a {
            cursor: pointer;
            margin-top:50px;
            text-decoration: none;
            font-family: $l;
            font-size:20px;
            color:rgb(1, 109, 250);
        }
    
        input, .oda-sec {
            display:block;
            margin:20px auto;
            width:70%;
            border-radius: 6px;
            padding:15px 20px;
            border:none;
            background-color: rgb(243, 243, 243);
            font-size:20px;
            font-family: $l;

            &[type="submit"] {
                background-color: #4CAF50;
                color:white;

                &:hover {
                    background-color: #257c28;
                }
            }
        }

        .oda-sec {
            background-color: rgb(0, 153, 255);
            color:white;
        }
    }
    
}

@media only screen and (max-width: 1199px) {
    .container-fluid {
        height:100vh;
    }

    .desktop-form-container {
        display: none;
    }

    .mobile-form-container {
        display: block;
    }

    .button-menu-container {
        margin-bottom:-50px;

        .button-menu {
            justify-content: space-around;

            button {
                margin:0 5px;
                font-size:11px !important;
            }
        }
    }
}

@include oda-container;
.oda-container {
    display: block;
}